<form action="/random/results">
  <label for="ranmin">Minimum</label>
  <input id="ranmin" type="text" placeholder="E.g. 1.5" name="user_min">

  <label for="ranmax">Maximum</label>
  <input id="ranmax" type="text" placeholder="E.g. 4.5" name="user_max">

  <button>Pick a random number</button>
</form>

